services:
  mongo:
    container_name: mongo-backend
    image: mongo
    volumes:
      - type: volume
        source: mongo-volume
        target: /data/db
    ports:
      - "27017:27017"
  express:
    image: express
    ports:
      - "3000:3000"
    volumes:
      - type: bind
        source: ./index.js
        target: /app/index.js

volumes:
  mongo-volume:
